body {
}

#challenge-form ul li {
    margin-bottom: 2em;
    list-style: none;
}

.navbar-brand img {
    height: 22px;
    width: 22px;
    display: inline-block;
}

/*#page-content-div {
    width: 54%;
    margin: 0 10%;
}*/
li.menuraceover {
    background: rgba(255, 0, 0, 0.19);
}

#admin-dropdown li a,
#races-dropdown li a {
    cursor: pointer;
    border: 1px rgba(255, 0, 0, 0.16) solid;
    border-top: none;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1em;
}

.input-group-addon:first-child {
    border-right: 0;
    width: 9em;
    text-align: right;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    /*width: 35em;*/
    margin-bottom: 1em;
}

.fwed-button {
    border-radius: 3px;
    padding: 5px;
    /* background: green; */
}

.fwed-user-points-box {
    display: inline-block;
    width: 29%;
    /* line-height: 100%; */
    font-size: 2em;
}

p.list-group-item-text.fwed-user-points {
}

p.list-group-item-text.fwed-user-username {
    font-weight: bold;
}

.fwed-user-details {
    display: inline-block;
    width: 70%;
}

.homepage h1 {
    padding-top: 1em;
}

img.image {
    width: auto;
    position: absolute;
    /* height: 60em; */
    z-index: -1;
    top: 8em;
    right: 38em;
}

.homepage-message {
    z-index: 10;
    margin-top: 3em;
}

img.panel-body {
    border-radius: 3px;
    width: 100%;
    padding: 1px;
}

textarea {
    width: 80% !important;
    display: block;
    position: relative;
    resize: none;
    height: 12em !important;
    overflow: auto;
    outline: none;
}

li.form-group.list-group-item.raceover {
    border: 1px #FFAFAF solid;
    /* border-bottom: 1px solid red; */
    background: #FFCFCF;
}

li {
    list-style: none;
}

.race-validation .input-group {
    width: 50em;
    margin-top: 1em;
}

.race-validation span#basic-addon1 {
    width: 16em;
}

div#side-bar {
    /* float: right; */
    width: 30%;
    position: absolute;
    top: 10%;
    right: 4em;
}

span.blog-user {
    float: right;
}

span.blog-date {
    font-size: smaller;
    font-weight: bold;
    color: grey;
}

.blog-title {
    font-size: large;
    /* width: 30%; */
    display: block;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.list-group-item {
    position: relative;
    height: 11em;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-control {
    display: block;
    width: 90%;
    /*bottom: 1em;*/
    /*position: absolute;*/
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.countdown{
    width: 21em;
    display: inline-block;
    text-align: left;
}