body {
}

#challenge-form ul li{
    margin-bottom: 2em;
    list-style: none;
}

#page-content-div {
    width: 54%;
    margin: 0 10%;
}
li.menuraceover {
    background: rgba(255, 0, 0, 0.19);
}
#admin-dropdown li a,
#races-dropdown li a {
    cursor: pointer;
    border: 1px rgba(255, 0, 0, 0.16) solid;
    border-top: none;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1em;
}
.input-group-addon:first-child {
    border-right: 0;
    width: 9em;
    text-align: right;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 35em;
    margin-bottom: 1em;
}

.fwed-button {
    border-radius: 3px;
    padding: 5px;
    /* background: green; */
}

.fwed-user-points-box {
    display: inline-block;
    width: 29%;
    /* line-height: 100%; */
    font-size: 2em;
}
p.list-group-item-text.fwed-user-points {
}

p.list-group-item-text.fwed-user-username {
    font-weight: bold;
}

.fwed-user-details {
    display: inline-block;
    width: 70%;
}

.homepage h1 {
    padding-top: 1em;
}

img.image {
    width: auto;
    position: absolute;
    /* height: 60em; */
    z-index: -1;
    top: 8em;
    right: 38em;
}
.homepage-message {
    z-index: 10;
    margin-top: 3em;
}
img.panel-body {
    border-radius: 3px;
    width: 100%;
    padding: 1px;
}
textarea {
    width: 80% !important;
    display: block;
    position: relative;
    resize: none;
    height: 12em !important;
    overflow: auto;
    outline: none;
}
li.form-group.list-group-item.raceover {
    border: 1px #FFAFAF solid;
    /* border-bottom: 1px solid red; */
    background: #FFCFCF;
}

li {
    list-style: none;
}

.race-validation .input-group {
    width: 50em;
    margin-top: 1em;
}

.race-validation span#basic-addon1 {
    width: 16em;
}

div#side-bar {
    /* float: right; */
    width: 30%;
    position: absolute;
    top: 10%;
    right: 4em;
}

span.blog-user {
    float:right;
}

span.blog-date {
    font-size: smaller;
    font-weight: bold;
    color: grey;
}
span.blog-title {
    font-size: large;
    /* width: 30%; */
    display: block;
}